.section{
    margin: 50px;
    width: 100%;
}


#addToDo{
    position: relative;
    height: auto;
    font-size: 0.7rem;
    padding: 10px;
    
   
}

#filter{
    position: relative;
    width: auto;
    height: 50px;
    /* padding: 5px; */
    margin-left: 200px;
}
.formvalidation{
    border: 2px solid red;
}



#toDoContainer{
    display: inline;
    /* position: relative;
    left: 50px; */

}


#check{
    position: relative;
    /* top: -40px; */
    display:inline;
}

#leeet{
    list-style-type: none;
    right: 20px;
}

#check{
    position: relative;
    top: 12px;
}

/* #deleteall{
    
    position: relative;
    padding: 10px;
    margin: 10px;
    
    padding-left: 10%;
    padding-bottom: 5px;  
    
} */

#date{
    display: block;
    /* border: 3px solid blue; */
    margin-bottom: 5px;
    width: 200px;
    position: relative;
    top: 10px;
    padding-left: 30px;
    border-top: 5px solid black;
    width: 50%;


}





.delete{
    display: flex;
  color: red;
  border-color: red;
    float: right;
    cursor: pointer;
    position: relative;
    bottom: 50px;
}


#result{
    width: 70%;
    display:block;
}

li{
    list-style: none;
    
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    position: relative;
    right: 10px;
    top: 50px;
}

.icon1{
    display: none;
}
.block{
    display:none ;
}
.working {
    display: block;
    position: absolute;
    margin-top: 20px;
    background-color: rgb(204, 202, 202);
    /* padding: 6px; */
    border-radius: 10px;
    /* right: 1px; */
}



/* 
.helloworld{
    display: none;
} */

/* #all{
    position: relative;
    height: auto;
     right: 100px;
}

#active{
    position: relative;
    height: auto;
   right:70px;
   
}

#complete{
    position: relative;
    height: auto;
    right:50px;
} */